body {
	font: normal 11px Verdana, Arial, Helvetica;
	color:#58595B;	
	background:#e8e1d0 url(bg.png) no-repeat 0 0;
}

h1 {
	font-size:1.4em;
	margin-top:0;
}

h2 {
	font-size:1.2em;
	margin-top:0;
}

h2 span {
	font-size:0.8em;
}

img{
	border:none;
	margin: 0;
	padding:0;
	behavior: url(iepngfix.htc);
}

a {
	color:#58595B;
}

a:hover {
	color:#3a393a;
}

ul {
	padding-left:1.6em;
	list-style:none;	
}

/* Containers
----------------------------------------------------------------------------------------------------*/
#container {
	margin-left: auto;
	margin-right: auto;
	width: 900px;
}
#impressum {
	width:570px;
	padding-right:35px;
}
#impressum img{
	float:right;
}
#postit {
	position:absolute;
	margin-left:400px;
	margin-top:30px;
}
/*Header
-----------------------------------------------------------------------------------------------------*/
#loc, #header {
	font-size:0.8em;
}
#header {
	padding-right:16px;
	text-align:right;
	height:130px;
	color:#404041;
}
#logo img {
	float:left;
	margin-top:31px;
	
}
#language {
	margin-top:60px;
	font-size:inherit;
}
#language img {
	vertical-align:middle;
}

/*Navigation
-----------------------------------------------------------------------------------------------------*/
#navigation ul {
	height:39px;
	list-style: none;
	padding: 0;
	margin: 0;
	background:url(navi_bg.png) repeat-x 0 0;
	background-color:#f3f0e9;
	float:left;
	width: 878px;
}

#navigation a {
	font-family: Georgia, serif;
	font-weight:normal;
	text-decoration:none;
	/*cursor:default;*/
}
#navigation a:visited {
	text-decoration:none;
}
#navigation a:hover {
	text-decoration:none;
	color:#58595B;
}

#navigation li {
	float:left;
	height:25px;
	line-height:25px;
	padding:0 15px 0 15px;
	border-right: 1px solid #C1B49A;
	border-left: 1px double #FFF;
	margin-top:7px;
}
#navigation img {
	float:left;
}
.navLast_element {
	border-right: none !important;
}
.navFirst_element {
	border-left: none !important;
}

#loc {
	margin: 6px 0 10px 27px;
	color:#231F20;
}
/* Content Elements
----------------------------------------------------------------------------------------------------*/

#page_image {
	position:absolute;
}

#mainContent, #content_impressum {
	margin:150px 0 0 0;
	background-color:#fdfdfd;
	padding:35px 20px 0 20px;
}

#content_impressum {
	margin:0;
}

#column1, #column2, #column3,#column_wide {
	float:left;
	margin: 5px 15px 0px 25px;
	width: 260px;
}
#column2 {
	padding-right:20px;
	margin-right:0;
}
#column3 {
	width: 175px;
	float:right;
	background-image:url(shadow.png);
	padding-left: 40px;
	margin: 5px 25px 0 0;
	background-repeat:no-repeat;
	padding-bottom:25px;
}
#column_wide {
	width:570px;
	margin-top:0;
	margin-bottom:35px;
}

#column_wide img {
	margin-top:10px;
	margin-right:15px;
}

#column_wide span {
	font-size:0.75em;
}

.box {
	margin-bottom:35px;
 }
 
#suche {
	text-align:right;
	margin-bottom:35px;
 }
#suche input {
	background-color:#e8e1d0;
	border:1px solid #58595B;
	}
#suche h2{
	text-align:left;
	font-size:1.0em;
 }

#suche input{
	width:170px;
 }
 
#ieg {
	width:175px;
	margin-left:-9px;
   	height:200px;
   	overflow:hidden;
}

/* Footer Elements
----------------------------------------------------------------------------------------------------*/

#footer {
	background-color:#f3f0e9;
	background:url(footer_bg.png) repeat-y 0 0;
	font-size:0.9em;
}
#footer ul {
	margin-left:0;
}
#footer li {
	margin-left:-16px;
}
#footer .top {
	margin-top:-6px;
}
#footer .bottom {
	margin-top:6px;
	display:block;
}
.column_footer {
	float:left;
	
	margin:-3px 0 5px 30px;
}
#footer h2 span {
	font-size:0.7em;
	
}

#notes {
	width:100%;
	text-align:right;
	margin:10px 0 50px 0;
	font-size:0.9em;
}
#notes img{
	margin:0 15px 0 5px;
}

/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/


.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.float_right {
	float:right;
}


/* SLC Preliminary initial styles to resemble the original */

/* in the mockup, the column1 and 2 have a size, instead of the content_left box. We fill plone content 
into content_left and skip the columns so we need that div to have a size. I take 570px as it is 
defined for the footer */
#content_left {
    width: 570px;
	padding-bottom:35px;

}
/* The design treats the first item differently to avoid a white line (relic of the 3d separator) by
adding a special class. We cannot do that without changing plone so we should use a pseudo selector */
div#navigation ul li:first-child {
	border-left: none !important;
}
/* We do our own language selector and it is a ul in plone by default, so we exchange it and add 
our own defs */
ul#portal-languageselector {
    width:260px;
}
ul#portal-languageselector li {
    display: inline;
}
ul#portal-languageselector li a {
    text-decoration: none;
}   
ul#portal-languageselector li a:hover {
    text-decoration: underline;
}