/* gerken: styles for the newsletter input fields */
body.template-newsletter-settings textarea {
    width: 570px;
    height: 150px;
}

.mceContentBody {
font-family:Verdana,Arial,Helvetica !important;
font-size:11px !important;
}

/* ---------------------------- */
/* liScroll styles */

/* Probably not needed any longer (newsticker)!*/

.tickercontainer { /* the outer div with the black border */
border: 1px solid #dedad4;
border-right-style: none;
border-left-style: none;
background: #fff; 
width: 250px; 
height: 20px;
line-height: 20px; 
margin-bottom: 20px; 
padding: 0;
overflow: hidden; 
font-size: 10px;
}
.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
position: relative;
left: 5px;
width: 240px;
overflow: hidden;
}
ul.newsticker, .boxrow ul.newsticker {
    position: relative;
/*    left: 750px;*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: Verdana;
    font-weight: bold;
    width: 250px;
}

ul.newsticker li {
    float: left;


/* important: display inline gives incorrect results when you check for elem's width */
    margin: 0;
    padding: 0;
}

ul.newsticker a {
    white-space: nowrap;
    padding: 0 50px 0 0;
    margin: 0;
    float: left;
    font-family: Verdana;
    text-shadow: rgba(0,0,0,0.36) 0 1px 2px;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
}

ul.newsticker a:hover {
    text-decoration: underline;
}

ul.newsticker span {
    margin: 0 10px 0 0;
    display: inline-block;
    text-decoration: none;
    color: #6c6966;
/*    font-weight: bold;*/
}

/*   END newsticker*/


/* ---------------------------- */
/* easyticker*/

ul.easyticker {
    overflow: hidden;
    position: relative;
    height: 1.2em;
    margin: 0 0;
}
ul.easyticker li {
    display:none;
    position:absolute;
    top:0px;
    left:0px;
}

/* formatting for homepage boxes */
div#latest_reviews_box ul,
div#latest_reviewparts_box ul,
div#latest_monographies_box ul, 
div#latest_internet_resources_box ul {
    padding-left: 0;
}
div#latest_reviews_box ul li,
div#latest_reviewparts_box ul li,
div#latest_monographies_box ul li, 
div#latest_internet_resources_box ul li {
    list-style:none;
}

/* ---------------------------- */

.boxrow ul{
    list-style: circle;
}

/* ---------------------------- */
/*Search portlet*/
dl.portletSearch dt{
    margin-bottom: 10px;
}
dl.portletSearch dt a{
    font-weight: bold;
    text-decoration: none;
}
dl.portletSearch dd, #column3 dl.portletSearch dd{
    margin-left: 0;
}
dl.portletSearch input.searchField{
    background-color:#e8e1d0;
    border:1px solid #58595B;
    width: 170px;
}
dl.portletSearch input.searchButton{
    background-color:#F3F0E9;
    border:1px solid #58595B;
    width: 80px;
    float: right;
}
dl.portletSearch div.LSResult{
    clear: both;
}
dl.portletSearch dd.portletFooter{
    display: none;
}

#review-metadata {
margin-bottom:1em;
margin-left:-30px;
}

#review-metadata h2 {
margin-left:10px;
}

/* Review images */

#pubSchwusch {
	float: left;
	position: relative;
	margin: 0;
	margin-left: -60px;
    min-height: 300px;
}

#pubSchwusch .previews {
	position: absolute;
	left:25px;
	top: 22px;
	width: 548px;
	height: 274px;
	-webkit-transition: all 0.6s;
	background-color: rgba(254,255,254,0);
}

#pubSchwusch p.previews a {
    bottom:14px;
	width: 588px;
	height: 273px;
	z-index: 2;
	position: absolute;
    left:35px;
}

#pubSchwusch p.previews img {
	-webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.2);
	width: 180px;
	float: left;
	position: absolute;
	-webkit-transition: all 0.5s;
}

#pubSchwusch .page-1 {
	-webkit-transform: rotate(-4deg);
	top: 0;
	left: 0;
	z-index: 3;
}

#pubSchwusch .page-2 {
	top: 0;
	left: 0;
	z-index: 2;
}

#pubSchwusch .page-3 {
	-webkit-transform: rotate(4deg);
	top: 0;
	left: 0;
	z-index: 1;
}

#pubSchwusch .previews:hover {
	background-color: rgba(255,254,255,0.85);
}

#pubSchwusch .previews:hover img {
	-webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.4);
	-webkit-transform: rotate(0deg);
}

#pubSchwusch .previews:hover .page-1 {
	left: 0;
}

#pubSchwusch .previews:hover .page-2 {
	
	left: 194px;
}

#pubSchwusch .previews:hover .page-3 {
	
	left: 387px;
}

#pubSchwusch li {
	padding: 20px 90px 20px 240px;
	font-size: 11px;
	line-height: 18px;
	list-style-type: none;
	color: #515151;
	width: 370px;
	position: relative;
	float: left;
	left: 0 !important;
}

#pubSchwusch li:before {
	display: none;
}

#pubSchwusch h2 {
	color: #515151;
	font: italic 15px/22px Georgia, "Times New Roman", Times, serif;
	margin-bottom: 10px;
	text-transform: none;
	letter-spacing: 0;
}

#pubSchwusch h2 a {
	display: block;
}

/* end review images */

/* @group Messages */

.message {
	padding: 8px;
	margin-bottom: 20px;
	-webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.20);
	-moz-box-shadow: 0 2px 10px rgba(0,0,0,0.20);
	box-shadow: 0 2px 10px rgba(0,0,0,0.20);
	font: 12px/18px Georgia, "Times New Roman", Times, serif;
}

.message.outdent {
	margin-right: 20px;
	position: relative;
	top: 4px;
}

.message:after {
	content: " ";
	display: block;
	clear: both;
	width: 0;
	height: 0;
}

.message *:last-child {
	margin-bottom: 0;
}

.message.emphasis {
	-webkit-box-shadow: inset 0 2px 10px rgba(0,0,0,0.1);
	border: 1px solid #d1d1d1;
	background: #eceef0 url(header.png) no-repeat fixed 75% 0;
	text-shadow: white 0 1px 0;
}

.message.notice {
	background-color: #fdfdc8;
	color: #6f5a44;
	border: 1px solid #d3d4a7;
	padding: 9px 9px 20px;
}

.message.success {
	background-color: #b4ff8e;
	color: #405f31;
}

.message.warning {
	background-color: #ff8100;
	color: white;
}

.message.warning * {
	color: white !important;
}

.message.error {
	background-color: red;
	color: white;
}

.message.error * {
	color: white !important;
}

.message ul,.message ol,.message p,.message table,.message dl,.message p,.message dd {
	margin-top: 0;
	margin-bottom: 18px;
}

/* @group Download */

/*#portletDownload {
	padding: 20px;
	font-style: italic;
	-webkit-box-shadow: inset 0 2px 10px rgba(0,0,0,0.1);
	border: 1px solid #d1d1d1;
	background: #ece6d4 no-repeat fixed 75% 0;
	width: 160px;
}*/
#portletDownload {
background:#ECE6D4 none no-repeat fixed 75% 0;
border:1px solid #D1D1D1;
font-style:italic;
margin-left:-20px;
padding:20px;
width:175px;
}

#portletDownload p {
	margin-bottom: 0;
	margin-top: 0;
}

#portletDownload p a {
	display: block;
	margin: -20px;
	padding: 19px 20px 17px 124px;
	background: url(../../iconPDF-large.png) no-repeat 12px 12px;
	min-height: 86px;
	font: italic 13px/17px Georgia, "Times New Roman", Times, serif;
	text-shadow: white 0 1px 0;
	-webkit-transition: all 0.2s;
}

#portletDownload p a em {
	font-size: 10px;
}

#portletDownload p a:hover {
	background-color: rgba(255,254,255,0.51);
	text-decoration: none;
}

#portletDownload p a:hover strong {
	text-decoration: underline;
}

.livesearchContainer {
    text-align:left;
}

.livesearchContainer li img {
    position:relative;
    top:3px;
}

.livesearchContainer ul {
    padding-left:0px !important;
}

/* ---------------------------- */

li.inline_listing {
    display: inline;
}

/*****styles for authorsearch*****/
ul#authors-select-all {
    background:#fff none repeat scroll 0 0;
    padding:0px;
    margin-left:-20px;
    /*border:1px solid #CDCDCD;*/
}

#authors-select-all li {
    clear:right;
    float:left;
    margin:5px 0;
    padding:5px 0 0;
    width:130%;
}

#authors-select-all  span {
    padding-left:22px;
}

#authors-select-all #all-presentations {
    background: transparent url(++resource++recensio.theme.images/InternetResource_g.png) no-repeat scroll 0 3px;
    height: 20px;
}

#authors-select-all #all-reviews {
    background: transparent url(++resource++recensio.theme.images/Aufsaetze_g.png) no-repeat scroll 0 3px;
    height: 20px;
}
#authors-select-all #all-comments {
    background: transparent url(++resource++recensio.theme.images/Monograph_g.png) no-repeat scroll 0 3px;
    height: 20px;
}

.authors {
    padding:0px;
}

.authors li {
    float: left;
    margin: 0;
    padding: 5px 5px 0 0;
}

ul.authors li.author {
    float:left;
    width:49%;
}
/********************Styles for ul Zeitschriften***************/

.template-folder_listing #content-core dt {
    margin-bottom:0.5em;
}

/********************Styles for ul Suche Authorsearch***************/

.template-search #content-core dt {
    margin-bottom:0.5em;
}

/**************styles for themen-epochen-regionen****************/
#menu_headlines {
    border:1px solid #CDCDCD;
    margin:0 0 10px;
    padding:0 0 0 10px;
}

div#menu_headlines p {
    width:33%;
    float:left;
}

div#menu_headlines p:hover {
    cursor:pointer;
    font-weight:bold;
}

div#menu_headlines span.selected_facet {
    font-weight: bold;
}

div#menu_headlines p.used_facet {
    text-decoration: underline;
}

div.submenu {
    display:none;
    position:relative;
}

.template-browse-topics .searchResults dd {
    margin-bottom:0.5em;
}

#submenu_ddcPlace {
    display:none;
}

.submenu_title {
    float:left;
    margin-right:5px;
    width: 80%;
}

.submenu_number {
    float:left;
    width:8px;
}

.submenu_number span {
    float:left;
    margin-left:8px;
}

.template-browse-topics h1 {
font-size:1.4em;
margin-top:10px;
}

span.headlinebutton {
    cursor: pointer;
}
.menu_headline {
    width: 30%;
    float: left;
    padding: 10px;
}

/*************************styles for review******************/

#review-reference {
    
}

.oaisuggestion form input {
    margin-bottom:10px;
}

/******************Styles for Metadata*****************/
/*#container {

}
#side{
  display:inline;
  overflow:hidden
}*/

/* --- Accordion --- */

.js #side .accordion {display:none}

.accordion {margin:0; padding:0 10px}

.accordion li {list-style-type:none}

.accordion li.last-child {list-style-type:none}

#side ul.accordion ul {margin:0; padding:0 0 0 20px; text-align:left;}


.accordion .inner {margin-bottom:0; padding:10px 20px; position:relative}

.switch {margin-bottom:.5em}

/*  
  Add styles for all links in the 'accordion':
.accordion a {...}
*/    

a.trigger {
background-image:url(++resource++recensio.theme.images/pfeil_icon_r.gif);
background-position:0 2px;
background-repeat:no-repeat;
color:black;
display:block;
font-weight:normal;
padding-bottom:5px;
padding-left:23px;
padding-top:5px;
}

a.trigger.open {
/*background:transparent url(++resource++recensio.theme.images/minus.gif) no-repeat scroll 3px 46%;*/
background-image:url(++resource++recensio.theme.images/pfeil_icon_u.gif);
background-position:0 2px;
background-repeat:no-repeat;
color:black;
display:block;
/*padding:5px 5px 5px 21px;*/
padding-bottom:5px;
padding-left:23px;
padding-top:5px;
}


#main .switch a.open {background:transparent none}

.active{font-weight:700; text-decoration:none}

/*********Styles for table metadata****************/

ul.accordion {
    text-align:left;
}

ul.accordion table {
    border:1px solid #EFEFEF;
    border-collapse:collapse;
    }
    
ul.accordion table th, td {
    border:1px solid #EFEFEF;
}

/**************************Icons for bold text links****************************/

#content-core #parent-fieldname-text h4.hide_title {
    background:transparent url(++resource++recensio.theme.images/pfeil_icon_r.gif) no-repeat scroll 0 0;
    padding:5px 0 5px 25px;
    }
#content-core #parent-fieldname-text h4.hide_title:active {
    background:transparent url(++resource++recensio.theme.images/pfeil_icon_u.gif) no-repeat scroll 0 0;
    padding:5px 0 5px 25px;
    }
    
#content-core #parent-fieldname-text td h4.hide_title {
        background:transparent url(++resource++recensio.theme.images/pfeil_icon_r.gif) no-repeat scroll 0 0;
        padding:5px 3px 5px 26px;
        }
#content-core #parent-fieldname-text td h4.hide_title:active {
        background:transparent url(++resource++recensio.theme.images/pfeil_icon_u.gif) no-repeat scroll 0 0;
        padding:5px 3px 5px 26px;
        }
/**************************Icons for themes epoche topic****************************/

.menu_headline {
    background:transparent url(++resource++recensio.theme.images/pfeil_icon_r.gif) no-repeat scroll 0 0;
    padding:0 0 5px 24px;
}
.selected_facet {
    background:transparent url(++resource++recensio.theme.images/pfeil_icon_u.gif) no-repeat scroll 0 0;
    padding:0 0 5px 24px;
}
.menu_headline span {
    position:relative;
    top:2px;
}
.used_facet {
    font-weight:bold;
}

/**************************************Styles for "like" button**********************/

#facebook-like {
height:40px;
margin-left:-20px;
margin-top:10px !important;
}
#facebook-like iframe {
margin-top:5px;
width:225px;
}
.connect_widget div.connect_confirmation_cell_no_like {
margin-top:3px;
padding-left:0px;
}

.connect_widget td.connect_widget_vertical_center {
border-spacing:0;
float:left;
margin-top:3px;
padding:0;
width:225px;
}
.connect_widget div.connect_confirmation_cell_no_like {
padding-left:0;
}
.connect_widget .like_button_no_like .piece, .connect_widget .like_button_no_like {
background-color:#ECEEF5;
border-color:#CAD4E7;
float:left;
width:206px;
}

.template-review_view #column3 {
min-height:470px;
}

/******************Styles for RSS Feed Main Site******************/
body.template-document_view ol {
    margin-top:0px;
}

body.template-document_view #content-core li {
    margin-top:3px;
}
body.template-document_view #content-core li p {
    margin:3px 0px;
}


/*************************IE7 Fixes************************/

*+html ul#portal-languageselector {
position:relative !important;
top:-10px !important;
}
*+html #latest_reviewparts_box ul {
position:relative !important;
left:-40px !important;
width:230px !important;
}
*+html #portal-siteactions {
position:relative !important;
right:-270px !important;
top:-90px !important;
}
*+html #latest_reviews_box ul {
width:230px !important;
}
*+html .box #latest_monographies_box ul {
margin-left:0px !important;
width:230px !important;
}
*+html .box #latest_internet_resources_box ul {
margin-left:0px !important;
width:230px !important;
}
*+html ul.easyticker {
min-width:100px !important;
}

/*************************IE8 Fixes************************/
ul#portal-languageselector {
position /*\**/:relative\9
}
ul#portal-languageselector {
top /*\**/:-11px\9
}

/************************ Subnavi *************************/
/* From the design mockup for the secondary navigation on
 recensio.net */

.firstmenu{
   background: url(++resource++recensio.theme.images/bg_firstmenu.png) no-repeat;
   margin-bottom: 34px;
}

.firstmenu ul{
   list-style-type: none;
   margin: 0;
   padding: 0;
}

.firstmenu ul li{
   float: left;
   background: url(++resource++recensio.theme.images/navtab.png) no-repeat right top;
}

.firstmenu ul li a{
   font-family: Georgia, serif;
   font-weight:normal;
   text-decoration:none;
   display: block;
   padding: 6px 38px 4px 16px;
   color: #444;
}

.firstmenu ul li a:hover{
   text-decoration: underline;
}

.firstmenu ul li.first a{
   padding: 6px 35px 4px 25px;
   background: url(++resource++recensio.theme.images/navtab_first.png) no-repeat;
}

.firstmenu ul li.last{
   background: url(++resource++recensio.theme.images/navtab_last.png) no-repeat right top;
}

.firstmenu ul li.last a{
   padding: 6px 25px 4px 12px;
}

.firstmenu ul li#firstcurrent{
   background: #fff url(++resource++recensio.theme.images/navtab_current.png) no-repeat right top;
}

.firstmenu ul li#firstcurrent a{
   background: url(++resource++recensio.theme.images/navtab_current_first.png) no-repeat;
   color: #000;
}

.firstmenu ul li#current{
   margin-left: -30px;
   background: #fff url(++resource++recensio.theme.images/navtab_current.png) no-repeat right top;
}

.firstmenu ul li#current a{
   padding: 6px 35px 4px 32px;
   background: url(++resource++recensio.theme.images/navtab_current_left.png) no-repeat;
   color: #000;
}

.firstmenu ul li#lastcurrent{
   margin-left: -30px;
   background: #fff url(++resource++recensio.theme.images/navtab_current_last.png) no-repeat right top;
}

.firstmenu ul li#lastcurrent a{
   padding: 6px 28px 4px 30px;
   background: url(++resource++recensio.theme.images/navtab_current_left.png) no-repeat;
   color: #000;
}
/***************css styles to hide the profile picture everywhere***************/
form.portrait img {
    display:none;
}
