/* start required sections from public.css */

/* @group CSS Reset */

/* Remove implicit browser styles to have a neutral starting point:
   - No elements should have implicit margin/padding
   - No underline by default on links (we add it explicitly in the body text)
   - When we want markers on lists, we will be explicit about it, and they render inline by default
   - Browsers are inconsistent about hX/pre/code, reset
   - Linked images should not have borders
   */

* { margin: 0; padding: 0; }
* :link,:visited { text-decoration:none }
* ul,ol { list-style:none; }
* li { display: inline; }
* h1,h2,h3,h4,h5,h6,pre,code { font-size:1em; }
* a img,:link img,:visited img { border:none }
a { outline: none; }
table { border-spacing: 0; }
img { vertical-align: text-bottom; }

/* @end */
body {
    margin:8px;
}

#content ul {
    list-style-type: disc;
    margin-left: 2em;
}

#content li,
dl.portlet li {
    margin-bottom: 0.25em;
    line-height: 1.5em;
    display: list-item;
}

/* end required sections from public.css */

/******styles to fix the side effects of the style above********/
/* from the CSS Reset */ 
#logged_in {
    margin:8px 0;
}

input {
   margin: 4px;
   padding: 1px 0;
}

#content-core {
   margin: 1em 0;
}

/* global nav */
ul#portal-globalnav li:first-child {
   border-left: none !important;
}

ul#portal-globalnav li:last-child {
   border-right: none !important;
}

/* gerken: styles for the newsletter input fields */
body.template-newsletter-settings textarea {
    width: 570px;
    height: 150px;
}

.mceContentBody {
font-family:Verdana,Arial,Helvetica !important;
font-size:11px !important;
}

/* ---------------------------- */
/* liScroll styles */

/* Probably not needed any longer (newsticker)!*/

.tickercontainer { /* the outer div with the black border */
border: 1px solid #dedad4;
border-right-style: none;
border-left-style: none;
background: #fff; 
width: 250px; 
height: 20px;
line-height: 20px; 
margin-bottom: 20px; 
padding: 0;
overflow: hidden; 
font-size: 10px;
}
.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
position: relative;
left: 5px;
width: 240px;
overflow: hidden;
}
ul.newsticker, .boxrow ul.newsticker {
    position: relative;
/*    left: 750px;*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: Verdana;
    font-weight: bold;
    width: 250px;
}

ul.newsticker li {
    float: left;


/* important: display inline gives incorrect results when you check for elem's width */
    margin: 0;
    padding: 0;
}

ul.newsticker a {
    white-space: nowrap;
    padding: 0 50px 0 0;
    margin: 0;
    float: left;
    font-family: Verdana;
    text-shadow: rgba(0,0,0,0.36) 0 1px 2px;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
}

ul.newsticker a:hover {
    text-decoration: underline;
}

ul.newsticker span {
    margin: 0 10px 0 0;
    display: inline-block;
    text-decoration: none;
    color: #6c6966;
/*    font-weight: bold;*/
}

/*   END newsticker*/


/* ---------------------------- */
/* easyticker*/

div.column_footer ul.easyticker {
   overflow: hidden;
   position: relative;
   height: 40px;
 }

div.column_footer ul.easyticker li {
   display:none;
   position:absolute;
   top:0px;
   left:0px;
}

div.column_footer ul.easyticker li a{
   display: block;
}

/* formatting for homepage boxes */
div#latest_reviewparts_box ul li {
   background: transparent url(++resource++recensio.theme.images/blank_icon.png) no-repeat;
}

div#latest_monographies_box ul li {
   background: transparent url(++resource++recensio.theme.images/praes_icon.png) no-repeat;
}

div#latest_reviews_box ul li{
   background: transparent url(++resource++recensio.theme.images/rez_icon.png) no-repeat; 
}

div#latest_internet_resources_box ul li {
   background: transparent url(++resource++recensio.theme.images/praes_icon.png) no-repeat;
}

div.box ul a.review-title {
   display: block;
}

#content div.box ul{
   list-style: none;
   margin: 0 1em;
   padding:0;
}

#participating-journals {
   border-top:1px solid #CCCCCC;
   padding-top:20px;
}

#participating-journals a {
   color: #999999;
}

#participating-journals a:hover {
   color:#916145;
}

.box ul li,
ul.easyticker ul li {
   padding: 0 0 0.5em 40px;
   margin-bottom: 0.5em;
   border-bottom:1px dashed #CCCCCC;
/*   height: 30px; */
   min-height: 2.5em;
}

/* ---------------------------- */
/*Search portlet*/
dl.portletSearch dt{
    margin-bottom: 10px;
}
dl.portletSearch dt a{
    font-weight: bold;
    text-decoration: none;
}
dl.portletSearch dd, #column3 dl.portletSearch dd{
    margin-left: 0;
}
dl.portletSearch input.searchField{
    background-color:#e8e1d0;
    border:1px solid #58595B;
    width: 170px;
}
dl.portletSearch input.searchButton{
    background-color:#F3F0E9;
    border:1px solid #58595B;
    width: 80px;
    float: right;
}

dl.portletSearch div.LSResult{
   clear: both;
   
}

.LSBox {
   position: relative;
}

#LSResult {
background:White none repeat scroll 0 0;
/*margin:-1.5em 0 0 -7em;*/
position:absolute;
right:0;
top:30px;
z-index:10;
}

#LSResult fieldset {
   border:0.1em solid #CCCCCC;
   padding:1em 0 0;
}

.LSRow, #LSNothingFound {
display:block;
padding:0.5em 1em;
white-space:normal;
width:28em;
}

dl.portletSearch dd.portletFooter{
    display: none;
}

/* start review_view */
#review-metadata {
margin-bottom:1em;
margin-top:1em;
}

#review-metadata h2 {
margin-left:10px;
}

/* Review images */

#pubSchwusch {
   float: left;
   margin: 0 !important;
   min-height: 300px;
   padding-left:0px !important;
}

#pubSchwusch .previews {
	background-color: rgba(254,255,254,0);
}

#pubSchwusch p.previews a {
	height: 273px;
}

#pubSchwusch p.previews img {
	-webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.2);
	width: 180px;
	float: left;
}

#pubSchwusch .page {
    display: none;
}

#pubSchwusch .page-1 {
	top: 0;
	left: 0;
	z-index: 3;
}

#pubSchwusch .page-2 {
	top: 0;
	left: 0;
	z-index: 2;
}

#pubSchwusch .page-3 {
	top: 0;
	left: 0;
	z-index: 1;
}

#pubSchwusch .previews:hover {
	background-color: rgba(255,254,255,0.85);
}

#pubSchwusch .previews:hover img {
	-webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.4);
}

/**********styles shadow for webkit browsers, livesearch container************/
#LSResult fieldset {
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.4);
}
/**************Ende*************/

#pubSchwusch li {
	padding: 20px 20px 20px 20px;
	font-size: 11px;
	line-height: 18px;
	list-style-type: none;
	color: #515151;
	float: left;
	left: 0 !important;
}

#pubSchwusch h2 {
	color: #515151;
	font: italic 15px/22px Georgia, "Times New Roman", Times, serif;
	margin-bottom: 10px;
	text-transform: none;
	letter-spacing: 0;
}

#pubSchwusch h2 a {
	display: block;
}

/* end review images */

/* review coverpicture */
img#coverpicture {
   float: left;
   margin: 0em 1.5em 1.5em 0em;
}

body.template-review_view div#category {
   margin-bottom: 1em;
}

/* end review_view */

/* start review edit view */

/* review html */
div#reviewhtml {
   margin-bottom: 2em;
}






/* @group Messages */

.message {
	padding: 8px;
	margin-bottom: 20px;
	font: 12px/18px Georgia, "Times New Roman", Times, serif;
}

.message.outdent {
	margin-right: 20px;
	position: relative;
	top: 4px;
}

.message:after {
	content: " ";
	display: block;
	clear: both;
	width: 0;
	height: 0;
}

.message *:last-child {
	margin-bottom: 0;
}

.message.emphasis {
	-webkit-box-shadow: inset 0 2px 10px rgba(0,0,0,0.1);
	border: 1px solid #d1d1d1;
	background: #eceef0 url(header.png) no-repeat fixed 75% 0;
	text-shadow: white 0 1px 0;
}

.message.notice {
	background-color: #fdfdc8;
	color: #6f5a44;
	border: 1px solid #d3d4a7;
	padding: 9px 9px 20px;
}

.message.success {
	background-color: #b4ff8e;
	color: #405f31;
}

.message.warning {
	background-color: #ff8100;
	color: white;
}

.message.warning * {
	color: white !important;
}

.message.error {
	background-color: red;
	color: white;
}

.message.error * {
	color: white !important;
}

.message ul,.message ol,.message p,.message table,.message dl,.message p,.message dd {
	margin-top: 0;
	margin-bottom: 18px;
}

/* @group Download */

#portletDownload {
background:#ECE6D4 none no-repeat fixed 75% 0;
border:1px solid #D1D1D1;
font-style:italic;
}

#portletDownload p {
	margin-bottom: 0;
	margin-top: 0;
}

#portletDownload p a {
	display: block;
	padding: 8px 10px 8px 103px;
	background: url(++resource++recensio.theme.images/pdf_download.png) no-repeat 8px 10px;
	min-height: 50px;
	font: italic 13px/17px Georgia, "Times New Roman", Times, serif;
	text-shadow: white 0 1px 0;
	-webkit-transition: all 0.2s;
}

#portletDownload p a em {
	font-size: 10px;
}

#portletDownload p a:hover {
	background-color: rgba(255,254,255,0.51);
	text-decoration: none;
}

#portletDownload p a:hover strong {
	text-decoration: underline;
}

.livesearchContainer {
    text-align:left;
}

.livesearchContainer li img {
    position:relative;
    top:3px;
}

.livesearchContainer ul {
    padding-left:0px !important;
    margin:0 !important;
}

div#portal-advanced-search {
   display: block;
   overflow: visible;
   height: auto;
   width: auto;
   margin: 1em 0;
}

/* ---------------------------- */

ul.authors li, li.inline_listing {
   display: inline !important;
}

ul.authors,
ul.authors ul {
   padding: 0 !important;
   margin: 0 !important;
}

/*****styles for authorsearch*****/
div.authorsearch {
   border-top: 1px dashed #777;
   margin-top: 2em;
   padding: 2em 1em;
   clear: both;
}

div#authorsearch-query {
   float:right;
   margin: 0 1em;
}

div#authorsearch-query input.submit {
   font-size: 1em;
}

div#authorsearch-query input.text {
   background-color:#FFFFFF;
   border:1px solid #AAAAAA;
   font-size:1.0em;
   vertical-align:bottom;
   line-height:normal;
   width:160px;
   color:#777;
}

#authors-select-all {
   float: right;
   margin: 1em 0;
}

#authors-select-all #all-presentations {
   list-style-image: url(++resource++recensio.theme.images/InternetResource_g.png);
   line-height: 2em;
}

#authors-select-all #all-reviews {
   list-style-image: url(++resource++recensio.theme.images/Aufsaetze_g.png);
   line-height: 2em;
}

#authors-select-all #all-comments {
   list-style-image: url(++resource++recensio.theme.images/Monograph_g.png);
   line-height: 2em;
}

.authors {
   padding:0;
   margin-top:0;
}

.authors li {
   float: left;
   margin: 0;
   padding: 5px 5px 0 0;
}

ul.authors li.author {
   float:left;
   width:32%;
}

/********************Styles for ul Zeitschriften***************/

.template-folder_listing #content-core dt {
   margin-bottom:0.5em;
}

/********************Styles for ul Suche Authorsearch***************/

.template-search #content-core dt {
   margin-bottom:0.5em;
   clear:both;
}

/**************styles for themen-epochen-regionen****************/
#menu_headlines {
    /* margin:0 0 10px; */
    /* padding:0 0 0 10px; */
}

div#menu_headlines p {
    width:33%;
    float:left;
}

div#menu_headlines p:hover {
    cursor:pointer;
    font-weight:bold;
}

div#menu_headlines span.selected_facet {
    font-weight: bold;
}

div#menu_headlines p.used_facet {
    text-decoration: underline;
}

div.submenu {
    display:none;
}

.template-browse-topics .searchResults {
   clear: both;
   padding-top: 1em;
}

.template-browse-topics .searchResults dd {
    margin-bottom:0.5em;
}

.template-browse-topics .searchResults dt {
   clear:both;
}

.template-browse-topics .searchResults div.documentByLine {
   padding-top: 1.5em;
}

#submenu_ddcPlace {
    display:none;
}

.submenu_title {
    float:left;
    margin-right:5px;
    width: 80%;
}

.submenu_number {
    float:left;
    width:8px;
}

.submenu_number span {
    float:right;
}

.template-browse-topics h1 {
font-size:1.4em;
margin-top:10px;
}

span.headlinebutton {
    cursor: pointer;
}
.menu_headline {
    width: 30%;
    float: left;
    padding: 10px;
}

/*************************styles for review******************/

#review-reference {
    
}

.oaisuggestion form input {
    margin:5px 5px 10px;
}

/******************Styles for Metadata*****************/
/*#container {

}
#side{
  display:inline;
  overflow:hidden
}*/

/* --- Accordion --- */

.js #side .accordion {display:none}

.accordion {margin:0; padding:0;}

.accordion li {
    list-style-type:none;
    display:list-item;
    }

.accordion li.last-child {list-style-type:none}

#side ul.accordion ul {margin:0; padding:0 0 0 20px; text-align:left;}


.accordion .inner {margin-bottom:0; padding:10px 20px; position:relative}

.switch {margin-bottom:.5em}

/*  
  Add styles for all links in the 'accordion':
.accordion a {...}
*/    

a.trigger {
   font-weight:bold;
   color:black;
   display:block;
   background-image:url(++resource++recensio.theme.images/more_bg.gif);
   background-repeat:no-repeat;
   padding-left:5px;
   width: 204px;
   line-height: 23px;
   height: 23px;
   position: relative;
}

a.trigger.open {
   background-image:url(++resource++recensio.theme.images/more_open_bg.gif);
}

#main .switch a.open {background:transparent none}

.active{font-weight:700; text-decoration:none}

/* jquery Accordion boxes used in the right hand column on the
review-view */

li.accordion-item {
   background-color: #ECE6D4;
   margin-bottom: 1em;
   display: block;
   word-wrap: break-word;
}

li.accordion-item dt {
    font-weight:bold;
    margin-bottom:2px;
    margin-top:2px;
}

li.accordion-item dd {
    margin-left: 1em;
}

div#accordion-container h2 {
   height: 23px;
}

li.accordion-item .accordion-content {
   padding: 1em;
}


/**************************Icons for bold text links****************************/

#content-core #parent-fieldname-text h4.hide_title {
    background:transparent url(++resource++recensio.theme.images/pfeil_icon_r.gif) no-repeat scroll 0 0;
    padding:5px 0 5px 25px;
    }
#content-core #parent-fieldname-text h4.hide_title:active {
    background:transparent url(++resource++recensio.theme.images/pfeil_icon_u.gif) no-repeat scroll 0 0;
    padding:5px 0 5px 25px;
    }
    
#content-core #parent-fieldname-text td h4.hide_title {
        background:transparent url(++resource++recensio.theme.images/pfeil_icon_r.gif) no-repeat scroll 0 0;
        padding:5px 3px 5px 26px;
        }
#content-core #parent-fieldname-text td h4.hide_title:active {
        background:transparent url(++resource++recensio.theme.images/pfeil_icon_u.gif) no-repeat scroll 0 0;
        padding:5px 3px 5px 26px;
        }
/**************************Icons for themes epoche topic****************************/

.menu_headline {
    background:transparent url(++resource++recensio.theme.images/pfeil_icon_r.gif) no-repeat scroll 0 0;
    padding:0 0 5px 24px;
}
.selected_facet {
    background:transparent url(++resource++recensio.theme.images/pfeil_icon_u.gif) no-repeat scroll 0 0;
    padding:0 0 5px 24px;
}
.menu_headline span {
    position:relative;
    top:2px;
}
.used_facet {
    font-weight:bold;
}

/**************************************Styles for "like" button**********************/

#facebook-like {
height:53px;
margin-top:10px !important;
}
#facebook-like iframe {
margin-top:5px;
width:204px;
}
.connect_widget div.connect_confirmation_cell_no_like {
margin-top:3px;
padding-left:0px;
}

.connect_widget td.connect_widget_vertical_center {
border-spacing:0;
float:left;
margin-top:3px;
padding:0;
width:204px;
}
.connect_widget div.connect_confirmation_cell_no_like {
padding-left:0;
}
.connect_widget .like_button_no_like .piece, .connect_widget .like_button_no_like {
background-color:#ECEEF5;
border-color:#CAD4E7;
float:left;
width:206px;
}

.template-review_view #column3 {
min-height:667px;
}

/******************Styles for RSS Feed Main Site******************/
body.template-document_view ol {
    margin-top:0px;
}

body.template-document_view #content-core li {
    margin-top:3px;
}
body.template-document_view #content-core li p {
    margin:3px 0px;
}


/*************************IE7 Fixes************************/

*+html ul#portal-languageselector {
position:relative !important;
top:-10px !important;
}
*+html #latest_reviewparts_box ul {
position:relative !important;
left:-40px !important;
width:230px !important;
}
*+html #portal-siteactions {
position:relative !important;
right:-270px !important;
top:-90px !important;
}
*+html #latest_reviews_box ul {
width:230px !important;
}
*+html .box #latest_monographies_box ul {
margin-left:0px !important;
width:230px !important;
}
*+html .box #latest_internet_resources_box ul {
margin-left:0px !important;
width:230px !important;
}
*+html ul.easyticker {
min-width:100px !important;
}

/*************************IE8 Fixes************************/
ul#portal-languageselector {
position /*\**/:relative\9
}
ul#portal-languageselector {
top /*\**/:-11px\9
}

/************************ Subnavi *************************/
/* From the design mockup for the secondary navigation on
 recensio.net */

.firstmenu{
   background: url(++resource++recensio.theme.images/bg_firstmenu.png) no-repeat;
   margin-bottom: 34px;
}

.firstmenu ul{
   list-style-type: none;
   margin: 0;
   padding: 0;
}

.firstmenu ul li{
   float: left;
   background: url(++resource++recensio.theme.images/navtab.png) no-repeat right top;
}

.firstmenu ul li a{
   font-family: Georgia, serif;
   font-weight:normal;
   text-decoration:none;
   display: block;
   padding: 6px 22px 4px 10px;
   color: #444;
}

.firstmenu ul li a:hover{
   text-decoration: underline;
}

.firstmenu ul li.first a{
   padding: 6px 35px 4px 25px;
   background: url(++resource++recensio.theme.images/navtab_first.png) no-repeat;
}

.firstmenu ul li.last{
   background: url(++resource++recensio.theme.images/navtab_last.png) no-repeat right top;
}

.firstmenu ul li.last a{
   padding: 6px 25px 4px 12px;
}

.firstmenu ul li#firstcurrent{
   background: #fff url(++resource++recensio.theme.images/navtab_current.png) no-repeat right top;
}

.firstmenu ul li#firstcurrent a{
   background: url(++resource++recensio.theme.images/navtab_current_first.png) no-repeat;
   color: #000;
}

.firstmenu ul li#current{
   margin-left: -30px;
   background: #fff url(++resource++recensio.theme.images/navtab_current.png) no-repeat right top;
}

.firstmenu ul li#current a{
   padding: 6px 35px 4px 32px;
   background: url(++resource++recensio.theme.images/navtab_current_left.png) no-repeat;
   color: #000;
}

.firstmenu ul li#lastcurrent{
   margin-left: -30px;
   background: #fff url(++resource++recensio.theme.images/navtab_current_last.png) no-repeat right top;
}

.firstmenu ul li#lastcurrent a{
   padding: 6px 28px 4px 30px;
   background: url(++resource++recensio.theme.images/navtab_current_left.png) no-repeat;
   color: #000;
}

/**************styles to hide the profile pic*****************/

.portraitPhoto {
    display:none;
}


/* 
 * Copies from public.css
 *
 */



/* group personaltools */


#portal-personaltools {
    float: right;
    background: #e3e3e3;
    position: relative;
    z-index: 3; /* personaltools should be above #portal-header (with z-index: 2) */
    top: 0;
    right: 0;
    padding: 0.25em 0.5em;
    font-size: 80%;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    -webkit-border-bottom-right-radius: 0.5em;
    -webkit-border-bottom-left-radius: 0.5em;
    -moz-border-radius-bottomleft: 0.5em;
    -moz-border-radius-bottomright: 0.5em;
}
#portal-personaltools #anon-personalbar a {
    float: left;
}
/* @end */


/* Collapsible elements in search_form */

.collapsible .collapser.collapsed {
/*    padding-right: 14px;*/
    background: url('arrowRight.png') center left no-repeat;
    padding-left: 10px;
} 

.collapsible .collapser.expanded {
/*    padding-right: 14px;*/
    background: url('arrowDown.png') center right no-repeat;
} 
/* @end */

/* @group Site actions */

#portal-siteactions {
    font-size: 85%;
    padding-bottom: 2em;
    text-align: center;
}
#portal-siteactions li {
    margin-right: 0.5em;
    display:inline;
}
#portal-siteactions li a:focus,
#portal-siteactions li a:hover {
    color: #75ad0a
}

/* @end */
/* @group Status messages */

dl.portalMessage {
    margin: 1em 0;
/*changed the font size from 80 to 100%*/
    font-size: 100%;
    border: 1px solid #996;
    background-color: #ffffe3;
    clear:both;
}
dl.portalMessage a,
#content dl.portalMessage a {
    color: black;
    border-bottom: 1px solid black;
}
dl.portalMessage dt {
    background-color: #996; 
    font-weight: bold;
    float: left;
    margin: 0 0.5em 0 0;
    padding: 0.5em 0.75em;
    color: White;
    line-height: 1.25em;
}
dl.portalMessage dd {
    padding: 0.5em 0.5em; 
    margin: 0;
    line-height: 1.25em;
}
dl.warning {
    border-color: #d80;
}
dl.warning dt {
    background-color: #d80;
}
dl.error {
    border-color: #d00;    
}
dl.error dt {
    background-color: #d00; 
}
dl.warning {
    border-color: #d80;    
}
dl.warning dd {
    background-color: #fd7; 
}
dl.error {
    border-color: red;    
}
dl.error dd {
    background-color: #fdc; 
}

/* Additional specificity for when status is shown inside #content */
#content dl.portalMessage {
    font-size: 100%;
}
#content dl.portalMessage dt {
    margin: 0 0.5em 0 0;
    padding: 0.5em 0.75em;
}
#content dl.portalMessage dd {
    margin: 0;
}

/* @end */


/* Color differences between the two tab types */
#content ul.formTabs {
    background-color: #ddd;
    border: 0.3em solid #ddd;
}
#edit-bar {
background-color:#BC5C10;
border:0.25em solid #BC5C10;
font-size:9.5px;
margin-bottom:2em;
min-height:2.5em;
}

#content-views {
background-color:#BC5C10;
float:left;
margin:0.5em 0 0;
padding: 0;
}
#content-views li {
    display:inline;
}
#content-views a {
    color: White;
}

/* Shared CSS between the two tab types */
#edit-bar,
#content ul.formTabs {
    display: block;
    border-style: solid solid none solid; 
    margin-left: 0;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    -webkit-border-top-right-radius: 0.5em;
    -webkit-border-top-left-radius: 0.5em;
    -moz-border-radius-topleft: 0.5em;
    -moz-border-radius-topright: 0.5em;
}
#content li.formTab {
    display: inline;
    margin-right:0.25em;
}
#content-views a,
#content li.formTab a {
    /* this isn't supported by all browsers, so we keep it in a separate rule */
    display: inline-block;
}
#content-views a,
#content li.formTab a {
    line-height: 2em;
    padding: 0 0.75em;
    text-decoration: none;
    border: none;
    margin: 0 ;
}
#content-views li.selected a, 
#content-views li a:focus, 
#content-views li a:hover, 
#content li.formTab a.selected,
#content li.formTab a:focus,
#content li.formTab a:hover {
    background: White;
    color: Black;
}
#content-views li.selected a,
#content-views li a:focus,
#content-views li a:hover,
#content li.formTab a.selected,
#content li.formTab a:focus,
#content li.formTab a:hover {
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    -webkit-border-top-right-radius: 0.5em;
    -webkit-border-top-left-radius: 0.5em;
    -moz-border-radius-topleft: 0.5em;
    -moz-border-radius-topright: 0.5em;
}
#content li.formTab a.notify {
    background-color: red;
    color: White;
}
#content li.formTab a.required span {
    background-image: url(required.png);
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 1em;
}
#content fieldset.formPanel {
    border: none;
}
#content fieldset.formPanel.hidden {
    display: none;
}
#content div.formControls input.hidden {
    display: none;
}

/* @end */
/* @group Pulldown menus */

/* @group Personal tools pulldown */
#portal-personaltools dl {
}
#portal-personaltools dt {
    font-weight: normal;
}
#portal-personaltools dt.actionMenuHeader a:focus,
#portal-personaltools dt.actionMenuHeader a:hover {
    color: #000000;
}
#portal-personaltools dt.actionMenuHeader a:after {
    content: " ▼";
}
#portal-personaltools dd {
    right: 0;
    padding-top: 0.5em;
}
#portal-personaltools dd {
    background: #e3e3e3;
    padding-bottom: 0.5em;
}
#portal-personaltools dd a {
    line-height: 2em;
    padding: 0 0.75em;
}
#portal-personaltools dd a:focus,
#portal-personaltools dd a:hover {
    background: #205c90;
    color: White;
}

/* @end */

/* @group Content pulldowns */

#contentActionMenus dl.actionMenu a,
#contentActionMenus dl.actionMenu.activated dd {
    background-color: #BC5C10;
    color: White;
    z-index: 5;
}
#contentActionMenus dl.actionMenu a:focus,
#contentActionMenus dl.actionMenu a:hover {
    color: #000000;
}
#contentActionMenus dl.actionMenu.activated dd {
    border-bottom: 0.5em solid #BC5C10;
        right: -3px;
}
#contentActionMenus dl.actionMenu.activated dd a:focus,
#contentActionMenus dl.actionMenu.activated dd a:hover,
#contentActionMenus dl.actionMenu.activated dd .actionMenuSelected {
    background-color: White !important;
    color: #666;
}
#contentActionMenus dl.actionMenu a,
#contentActionMenus dl.actionMenu div {
    line-height: 2em;
    text-decoration:none;
}

#folderHeader, #contextHeader {
        border-bottom: 2px solid white;
}

#contextHeader { margin-top: 5px; }

.actionMenuContent ul {
    padding-left:5px;
}

/* @end */

#contentActionMenus {
    float: right;
    background: #BC5C10;
    margin: 0;
    position: relative;
    /***changed the position top from 0.23em to -2px***/
    top: -2px;
    right:-0.24em;
    padding: 0.1em 0.24em 0 0;
    border-radius: 0.5em;
    border-top-left-radius: 0;    
    -webkit-border-radius: 0.5em;   
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 0.5em;  
    -moz-border-radius-topleft: 0;
}
#contentActionMenus li {
    display:inline;
}
dl.actionMenu {
    float: right;
    white-space: nowrap;
    position: relative;
    margin:0.5em 0 0 0;
}
dl.actionMenu a,
dl.actionMenu div {
    display: block;
    white-space: nowrap;
    padding: 0 0.25em;
}
dl.actionMenu dt {
    font-weight: normal;    
}
span.arrowDownAlternative {
    font-size: 80%;
}
dl.actionMenu.deactivated dt {
    margin: 0 0.25em;
}
dl.actionMenu.deactivated dd {
    display: none;
}
dl.actionMenu.activated dd {
    position: absolute;
    width: auto;
    min-width: 100%;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    -webkit-border-bottom-right-radius: 0.5em;
    -webkit-border-bottom-left-radius: 0.5em;
    -moz-border-radius-bottomleft: 0.5em;
    -moz-border-radius-bottomright: 0.5em;
}
dl.actionMenu.activated dt a,
dl.actionMenu.activated dd a,
dl.actionMenu.activated dd div {
    margin: 0 0.25em;
}

/* @end */

/* @group Control panel */

#setup-link {
    font-size: 90%;
}

#content ul.configlets {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:1em 0;
padding-left:0;
}

#content ul.configlets li {
    margin-bottom: 1em;
    list-style: none;
    display: block;
}
#content ul.configlets li a {
    text-decoration: none;
    border: none;
}
#content ul.configlets li a:visited {
    color: #436976;
    background-color: transparent;
}
#content ul.configlets li a:active {
    color: #436976;
    background-color: transparent;
}
#content ul.configlets li label {
    font-weight: bold;
}
#content ul.configletDetails {
    margin: 0em 1em 1em 4em;
    list-style-image: none;
    list-style: none;
}
#content ul.configletDetails li {
    margin-bottom: 1em;
    display: inline;
}
#content ul.configletDetails li a {
    text-decoration: none;
}
#content ul.configletDetails li label {
    font-weight: bold;
}
#content ul.configletDetails li.configletDescription {
    display: block;
    color: #76797c;
    margin: 0;
}
.inlineDisplay {
    display:inline
}
table.controlpanel-listing {
    width:100%;
}
table.controlpanel-listing td, table.controlpanel-listing th {
    font-size:120%;
}
table.controlpanel-listing dl {
    margin-top:0;
}
table.controlpanel-listing dd {
    margin-left: 1em;
}
table.controlpanel-listing dl dt a .trigger{
    font-weight:normal;
}
table .controlpanel-listing td {
    vertical-align:top;
}
table.controlpanel-listing td.checker{
    text-align:center;
}
table.controlpanel-listing th.smallcolumn {
    width:1.5em;
}
.chooser-right {
    float:right;
    margin-right:0;
    margin-bottom:0;
}
.rule-element {
    background-color:#EEF3F5;
    margin:0.5em 0pt 0.5em;
    padding:0.3em 1em 0.3em 1em;
    width:auto;
}
.rule-element dl {
}
.rule-element dl dd {
    margin-left:1em;
}
.rule-updown, .rule-operations {
    float:right;
    padding-top:0.8em;
}
/* @end */

/* @group Collapsible */
dl.collapsible {
    border: 0.1em solid #8cacbb;
    margin: 1em 0;
    padding: 0;
}
dl.collapsible dt.collapsibleHeader {
    display: block;
    float: left;
    background: White;
    line-height: 1.2em;
    vertical-align: middle;
    font-size: 90%;
    position: relative;
    top: -0.6em;
    width: auto;
    margin: 0 0 -0.6em 1em;
    padding: 0 0.5em;
}
dl.collapsible dd.collapsibleContent {
    margin: 0;
    padding: 0 1em 0.4em;
    clear: left;
}

/* for IE the following isn't needed, that's why the css2 selector is used */
dl.collapsible dd.collapsibleContent > dl {
    margin: 0;
    padding: 0;
}

dl.expandedInlineCollapsible dt.collapsibleHeader,
dl.expandedBlockCollapsible dt.collapsibleHeader {
    padding: 0 0.5em 0 2em;
    background: White url(treeExpanded.png) no-repeat 0.5em 50%;
    cursor: pointer;
}

dl.collapsedBlockCollapsible {
    border: none;
    height: 1em;
    width: auto;
}
dl.collapsedInlineCollapsible dt.collapsibleHeader,
dl.collapsedBlockCollapsible dt.collapsibleHeader {
    float: none;
    position: relative;
    margin: 0 0 0 1em;
    padding: 0 0.5em 0 2em;
    line-height: 1.2em;
    cursor: pointer;
    background: White url(treeCollapsed.png) no-repeat 0.5em 50%;    
}
dl.collapsedInlineCollapsible dd.collapsibleContent,
dl.collapsedBlockCollapsible dd.collapsibleContent {
    display: none;
}
dl.collapsedInlineCollapsible {
    border: none;
    height: 1em;
    width: auto;
    display: inline;
}
dl.collapsedInlineCollapsible dt.collapsibleHeader {
    position: static;
    float: none;
    margin: 0;
    padding: 0 0 0 2em;
    line-height: 1em;
    cursor: pointer;
    display: inline;
}

/* @end */


/* @group Content History */

#content-history #history dd {
}

#content-history div.historyRecord {
    margin-bottom: 1em;
}


#content-history div.historyTools ul {
    float: right;
    margin: 0.5em 1em;  
}

#content-history div.historyTools ul li {
    display: inline;
    padding: 0 0.015em;
}

#content-history div.historyTools ul li a{
    border-bottom: none;
}

#content-history div.historyTools form {
    display: inline;
}

#content-history .historyAction {

}

#content-history .historyByLine {
    background: #ddd;
    padding: 0.5em;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    -webkit-border-top-right-radius: 0.5em;
    -webkit-border-top-left-radius: 0.5em;
    -moz-border-radius-topleft: 0.5em;
    -moz-border-radius-topright: 0.5em;
}

#content-history div.historyLinks {
    float: right;
    clear: right;
    margin: 0.5em 1em 0 0;
}


#content-history div.historyComment {
    padding: 0.5em 1em;
    border: 1px solid #ddd;
}

#content-history div.historyComment p {
    margin: 0;
    padding-top: 1px;   
}

#content-history a.historyComparePrevious {
    border-top: 1px dotted #ccc;
    display: block;
    margin-top: 3em;
    text-align: center;
}

#content-history a.historyComparePrevious span {
    background-color: white;
    position: relative;
    top: -0.75em;
    padding: 0 0.5em;
}

/* @end */



/* @group Core content type sprites */

.contenttype-document {
    background: no-repeat transparent 0px 3px url(contenttypes-sprite.png);
}
.contenttype-event {
    background: no-repeat transparent 0px -212px url(contenttypes-sprite.png);
}
.contenttype-file {
    background: no-repeat transparent 0px -428px url(contenttypes-sprite.png);
}
.contenttype-folder {
    background: no-repeat transparent 0px -644px url(contenttypes-sprite.png);
}
.contenttype-image {
    background: no-repeat transparent 0px -860px url(contenttypes-sprite.png);
}
.contenttype-link {
    background: no-repeat transparent 0px -1076px url(contenttypes-sprite.png);
}
.contenttype-news-item {
    background: no-repeat transparent 0px -1292px url(contenttypes-sprite.png);
}
.contenttype-plone-site {   
    background: no-repeat transparent 0px -1508px url(contenttypes-sprite.png);
}
.contenttype-topic {
    background: no-repeat transparent 0px -1724px url(contenttypes-sprite.png);
}

/* Now that we always show icons with that css class above,
 * we must hide the icons that get added in the ploneimage iframe */

body#ploneimage fieldset#internal_panel img {
    display: None;
}

.contenttype-document,
.contenttype-event,
.contenttype-file,
.contenttype-folder,
.contenttype-image,
.contenttype-link,
.contenttype-news-item,
.contenttype-plone-site,
.contenttype-topic {
    line-height: 2em;
    display: inline-block;
    padding-left: 23px !important;
}
/* @end */


/* @group Invisibles */

.hiddenStructure {
    display: none;
    background: transparent;
    background-image: none; /* safari bug */
    border: none;
    height: 0.1em;
    overflow: hidden;
    padding: 0;
    margin: -0.1em 0 0 -0.1em;
    width: 1px;
}

#content .visualNoMarker {
    list-style:none;
    margin-left: 0;
}

.visualClear {
    clear: both;
}

/* @end */
/* @group Accessibility elements, applied by JS */
/***changed the font size of large and small, so that this messurements fit the normal font size which is 11px. ***/

body.largeText { font-size: 85%; }
body.smallText { font-size: 60%; }

/* @end */

/* @group Overlay windows */

/* styling for overlays (popups) */

div.overlay {
    width: auto;
    height: auto;
    /* initially overlay is hidden */
    display: none;
    /* some padding to layout nested elements nicely  */
    margin: 1em;
    /*it was necessary to change the font size to 100% from 80 so the the picture fits in nicely with the changed accessibility font sizes*/
    font-size: 100%;
}

div.overlay-iframe,
div.overlay-ajax {
    width: 60%;
    min-height: 100px;
    z-index: 99; /* overlays should be above everything */
}

div.overlay-iframe {
    height: 60%;
}

/* default close button positioned on upper-left corner */
div.overlaybg div.close,
div.overlay div.close {
    background-image: url(pb_close.png);
    position: absolute;
    left: -14px;
    top: -14px;
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.pb-ajax {
    overflow-y: auto;
}

.pb-ajax, .pb-image {
    background-color: #fff;
    white-space: normal;
    box-shadow: 0 0 3em 0.5em #666;
    -moz-box-shadow: 0 0 3em 0.5em #666;
    -webkit-box-shadow: 0 0 3em #666;
}

.pb-ajax > div {
    width: 92%;
    padding: 1em;
}

.pb-ajax .documentActions {display:none}

div.overlay div.close span {
    display: block;
    height: 1px;
    margin: -1px 0 0 -1px;
    overflow: hidden;
    padding: 0;
    width: 1px;
}

div.overlay textarea { width: 100%; }

/* Hide form elements that don't make sense within an overlay. */
div.overlay .link-parent { display: none; }
div.overlay #createGroup legend { display: none; }
div.overlay #createGroup fieldset { border: none; }

/* lets play nice with paragraphs, links, tabbed pages in overlay e.g. when plone.openid is installed */
div.overlay p {
    margin-bottom: 1em;
}
div.overlay label {
    margin-bottom: 0.25em;
}
div.overlay a:focus,
div.overlay a:hover {
    color: #75ad0a;
}
div.overlay a.selected {
    color: #000000;
}
div.overlay .formTab {
    margin-right:1em;
    font-weight: bold;
}
div.overlay .formTab.lastFormTab {
    margin-right:0em;
}
div.overlay .formControls a { 
    display: block;
    margin: 0.75em;
}

/* @end */

/* @group Data tables */

table.listing,
table.plain {
    border-spacing: 0;
    border-collapse: collapse; 
}

table.invisible td, 
table.invisible th,
table.plain td, 
table.plain th,
table.listing td, 
table.listing th {
    padding: 0.5em 1em;
    vertical-align: top;
}
table.plain th,
table.plain td {
    border: 1px solid #ddd;
}

table.listing td.listingCheckbox, 
table.listing th.listingCheckbox {
    text-align: center;
}

table.listing th {
    text-align: left;
    color: #666;
    border: 0.1em solid #e7e7e7;
    border-style: solid none none;
}
table.listing tr.odd th {
    border: 0.1em solid #fff;
    border-style: solid solid none none;
}
table.listing tbody th {
    font-weight: bold;
}
table.listing tbody tr {
    text-align:left;
}
table.listing tbody tr.odd {
    background: #eee;
}
table.listing tbody tr td { 
    background: transparent;
}
table.listing tbody tr.odd td { 
    background: #eee;
}
table.listing a { 
    line-height: 2em;
    border: none;
    display: inline-block;
    border-bottom: none !important;
}

table.listing td.draggable {
    text-shadow: White 1px 1px 1px;
    background: #ddd !important;
    border-bottom: 1px solid white;
    padding: 0.4em 0.4em 0 0.5em;
}
.dragindicator {
    outline: 2px solid #FFD700;
}

#foldercontents-order-column {
    padding: 0;
}

div.listingBar {
    font-size: 80%; 
    margin: 1em 0;
}

span.current {
   background-color: #E8E1D0;
   padding: 0.25em 0.5em;  
}

div.listingBar .next {
    display: inline-block;
    float: right;
}

div.listingBar .previous {
    display: inline-block;
}

div.listingBar a {
    display: inline-block;
    padding: 0.25em 0.5em;
    border: 0.1em solid #ccc;
}

div.listingBar a:focus,
div.listingBar a:hover {
    color: Black;
    background-color: #E8E1D0;
    border-color: #d8ccae;
}

/* @end */

/* @group Login form */

body.template-logged_out #content,
body.template-login_form #content,
.pb-ajax #login-form {
    text-align: center;
}

#fieldset-openid-login input, #login-form input {
    font-size: 100%;
}


body.template-register #content input,
body.template-new-user #content input {
    font-size: 100%;
    width: inherit;

}

#fieldset-openid-login label, #login-form label {
    margin-right:0.5em;
    padding-top:0.2em;
    text-align:right;    
    /******changed the width from 7 to 8 so the text would stuck to the field anymore******/
    width: 8em;
    display: inline-block;
}

#fieldset-openid-login .formControls input, #login-form .formControls input {
margin-left: 0.25em;
}

/* @end */

/* @portlet.css styles for calendar */
/***to fix the calendar I added these styles out of the portlet.css***/

.portletCalendar {
    width: 100%;
    margin: 1em 0 1em 0;
}

.portletCalendar dt {
    background-color: #eee;
    font-weight: bold;
    text-align: center;
    line-height: 1.6em;
    border-bottom: none;
}

.portletCalendar dd {
    margin: 0;
    padding: 0;
}

.portletCalendar dt a#calendar-previous {
    float: left;
    padding: 0 1em;
    margin: 0 -.5em;
}

.portletCalendar dt a#calendar-next {
    float: right;
    padding: 0 1em;
    margin: 0 -.5em;
}

.portletCalendar a, .portletCalendar a:focus,
.portletCalendar a, .portletCalendar a:hover {
    text-decoration: none;
}

.ploneCalendar {
    border-spacing: 0;
    width: 100%;
}

.ploneCalendar a {
    text-decoration: none;
    border-bottom: none !important;
}

.ploneCalendar td {
    background-color: transparent;
    width: 14%;
    text-align: center;
    padding: 2px;
}

.ploneCalendar .weekdays th {
    background-color: #eee;
    text-align: center;
    padding: 2px;
    font-weight: normal;
}

.ploneCalendar .event {
    background-color: #eee;
    font-weight: bold;
}

.ploneCalendar .todayevent {
    background-color: #eee;
    border: 2px solid #205C90;
    font-weight: bold;
}

.ploneCalendar .todaynoevent {
    border: 2px solid #205C90;
}
/*end*/

/******to fix the display of the displayed tabs in the edit area I have to add some styles out of the public.css plone****/

ul.formTabs {
-moz-border-radius-topleft:0.5em;
-moz-border-radius-topright:0.5em;
border-style:solid solid none;
display:block;
margin-left:0;
background-color:#DDDDDD;
border-color:#DDDDDD #DDDDDD -moz-use-text-color;
border-width:0.3em 0.3em 0;
padding-left:0;
}
li.formTab {
display:inline;
margin-right:0.25em;
}
li.formTab a.selected, li.formTab a:focus, li.formTab a:hover {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:White none repeat scroll 0 0;
color:Black;
}

li.formTab a {
border:medium none;
display:inline-block;
line-height:2em;
margin:0;
padding:0 0.75em;
text-decoration:none;
}

#content-views li.selected a, #content-views li a:focus, #content-views li a:hover, li.formTab a.selected, li.formTab a:focus, li.formTab a:hover {
-moz-border-radius-topleft:0.5em;
-moz-border-radius-topright:0.5em;
}

/* @end */


/*****This is needed to fix the display of the TinyMCE Editor*******/
/* @group Forms */

fieldset,
.editionComment {
    line-height:1.5em;
    margin:1em 0;
    padding:0 1em 1em;
    width:auto;
    border: 1px solid #ccc;
}

/* commenting */
div#commenting textarea {
   height: 150px;
   width: 99%;
}

div#commenting input.submit-widget {
   float: right;
}

/* Emulates the styling from the h1 tag */
#archetypes-fieldname-title input {
    font-family:Verdana,Arial,Helvetica; 
    line-height: 125%;
    color: Black;
    letter-spacing: -0.02em;
    font-size: 2.66em; /* 26px equiv */
}

/* Emulates styling from the description's view */
#archetypes-fieldname-description textarea#description {
color:#666666;
font-family:Verdana,Arial,Helvetica;
font-size:11px;
}


div.formControls {
    margin: 1em 0;
}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
    background-color: #ffffe0;
}

#content textarea {
    font: 100% Monaco, "Courier New", Courier, monospace;
    /*had to change the width from 100 to 76% so that the fields stay where they supposed to**/
    width: 76%;
}
#content textarea#form-widgets-available_content_languages{
    width: 60px;
}
#content select {
    vertical-align: top;
}
/* Blue fieldsets? Seems to make no sense for recensio. Removing it.
#content fieldset {
    border: 0.1em solid #329fd7;
    border-style: solid none none none;
}
*/
#content legend {
    padding: 0.5em;
    font-size: 85%;
}
label {
    font-weight:bold;
}

#content label {
}

#content optgroup {
    font-style: normal;
    font-weight: bold;
    color: #999;
    padding-left: 0.25em;
}
#content option {
    color: black;
}
#content optgroup > option {
    padding: 0 0.25em 0 1em;
}
dl.enableFormTabbing dd {
    margin-left: 0;
    padding-top: 2em;
}
.searchSection {
    color: #76797c;
    margin-top: 0.25em;
}
.searchSection label:hover {
    color: Black;
}
.field {
    clear: both;
    margin-bottom: 1em;
}
.field input[type="text"] {
    /*width: 100%;*/
}
input#title {
    /*changed the width to 75%**/
    width: 75%;
}
.error input#title {
    width:99%;
}

.fieldRequired {
    background: url(required.png) center left no-repeat;
    padding: 0 0 0 1em;
    color: White;
}
.fieldUploadFile {
    text-align: right;
    margin-right: 0.75em;
    display: none;
}
.fieldTextFormat {
    text-align: right;
    margin-right: 0.75em
}
.formHelp {
    color: #555;
    margin: 0 0 0.2em 0;
}
div.error {
    background-color: #fdc;
    border:  1px solid red;
    padding: 0.5em;
    margin:  1em 0;
}
.error .fieldRequired {
    color: #d00;
}
div.error.warning {
    background-color: transparent;
    border: none;
    margin-top: 0;
    padding: 0;
}

div.error.warning input {
    border: 2px solid red;
}

input.inputLabelActive {
    color: #76797c;
}
textarea#form\.description {
    height: 6em;
    width: 99%;
}
table.listing tbody tr.odd.selected td,
tr.selected {
    background-color: #ffa;
}

/*******styles for the history tag******/
.reviewHistory, .contentHistory {
font-size:85% !important;
}

.collapse_trick{
    display:None;
}

/******style for searchfacts********/

#portal-searchfacets {
background-color:#EFEFEF !important;
margin:0 0 0 10px !important;
min-width:25% !important;
max-width:30%;
overflow:hidden;
padding:0.5em !important;
}

/*****styles for width of content only regarding the search template******/
.template-search #content {
width:100%;
}

/*************styles for margin .card************/

.card a {
    margin-top:5px;
}

/*************styles for the dd tag for the #review-metadata***********/

#review-metadata dd {
    margin-left:0px;
}

.summary img {
    margin-right:3px;
    position:relative;
    top:3px;
}

/****************** styles for browse topics*******************/

.template-browse-topics #browsing-menu {
    width:860px;
}

.template-browse-topics #browsing-menu dd {
    float:right;
    margin:0;
    width:90%;
}
.template-browse-topics #submenu_ddcPlace .collapsible {
    float:left;
    margin-left:10px;
    font-size:11px;
    width:200px;
}

.template-browse-topics #submenu_ddcTime .collapsible {
    float:left;
    font-size:11px;
    margin-left:10px;
    width:160px;
}

.template-browse-topics #submenu_ddcSubject .collapsible {
    float:left;
    font-size:11px;
    margin-left:10px;
    width:420px;
}

.template-browse-topics #submenu_ddcSubject dd {
    float:right;
       margin:0;
       width:100%;
}
.template-browse-topics #submenu_ddcPlace h5 {
    clear:both;
}

.template-browse-topics #submenu_ddcTime h5 {
    clear:both;
}

.template-browse-topics #submenu_ddcSubject h5 {
    clear:both;
}


.template-browse-topics .searchResults {
    width:860px;
}

/***************styles for footer pictures and links************/
#column_wide {
/*margin-bottom:35px;*/
margin-top:0;
text-align:left;
width:570px;
}

#column_wide span {
font-size:0.75em;
}

#column_wide img {
margin-right:15px;
margin-top:10px;
}

/* Trick to only hide content in view mode. Not in Edit mode */
.mceContentBody .hide_content {
    display: block;
}

.hide_content {
    display: None
}


/*** ***/
.authorsearch img, .searchResults img {
padding-right:5px;
position:relative;
top:3px;
}

/* Workaround for a bug in screen.css */
.plonepopup div.mceTop {
    background-color: white;
}

.state-deleted {
    color: Red;
    text-decoration: line-through;
}

#oaisuggestions {
   background-color: white;
   display: none;
}

.oaisuggestion {
    background-color: white;
    border:1px solid #CDCDCD;
    float:left;
    min-width:300px;
    min-height:200px;
}

.oaisuggestion table {
    padding:5px;
    min-width: 360px;
}

.oaisuggestion .missing {
    color: red;
}

/*******styles for Opac search popup**********/
.oaisuggestion tr {
   border-bottom:1px solid #CDCDCD;
}

.oaisuggestion td.key {
   border-bottom:1px solid #CDCDCD;
   border-right:1px solid #CDCDCD;
   font-weight:bold;
}

.oaisuggestion td.value {
   border-bottom:1px solid #CDCDCD;
   font-style:italic;
   padding-left:5px;
}
/*************styles for searchform fieldsets************/
.template-search_form #content fieldset {
    border: 1px solid #ccc !important;
    width:835px !important;
    background:#F6F6F6 none repeat scroll 0 0 !important;
    padding-top:5px !important;
}
.template-search_form #content fieldset legend {
    font-weight:bold !important;
    color:#58595B !important;
    font-size:101% !important;
}

/*********styles to fix sideeffects of margin, padding 0********/
p.discreet {
    margin-bottom:5px;
}
p {
    margin: 1em 0;
}
dl {
    margin:11px 0;
}
dd {
    margin-left:40px;
}
#content ul {
list-style-type:disc;
margin-left:2em;
padding-left:40px;
}

/***************styles for commenting***********/
.comment .state-pending {
color:#BC5C10 !important;
}

.comment .documentByLine a {
    font-size:1.6em;
    font-weight:bold;
    color:#7F4B2B;
    text-decoration:none;
}

.comment .commentBody {
border-bottom:1px dashed #CCCCCC;
margin-bottom:0;
padding-bottom:10px;
padding-left:15px;
}

.comment button.reply-to-comment-button {
background-color:#E8E1D0;
bottom:1px;
float:right;
margin-bottom:15px;
padding:5px 15px;
position:relative;
}

.comment button.reply-to-comment-button:hover {
background-color:#f2efe8;
}

.comment {
border-top:1px dashed #CCCCCC;
padding-top:10px;
}

.comment .documentByLine {
float:left;
margin-left:0;
padding-left:15px;
}

body.section-ueberuns #content-core td {
    padding:1px;
}

/* hide #extra-design-elements in the footer which are used by xdv
only and should not appear in the normal sunburst theme */
div#extra-design-elements { display: none; }

#publicationlisting {
    border-top: 1px dashed #CCC;
}
#publicationlisting ul {
    list-style-type: disc;
}
#publicationlisting ul li {
    list-style-type: disc;
}
#publicationlisting h2 {
    margin-top:1em;
}
#publicationlisting h3 {
    margin-top:0.5em;
}

/***********Styles for highlighting the batch 1,2,3....********/

div.dialog-wrapper { 
    width:95% !important;
}

/*****************bugfixes***********/
#content, #content_impressum, #content_tagung, #content_textseite {
width:860px;
}

table.listing, table.plain {
margin-bottom:10px !important;
}

table.invisible td, table.invisible th, table.plain td, table.plain th, table.listing td, table.listing th {
vertical-align: middle;
}

form#review_monograph-base-edit select, form#review_journal-base-edit select, form#presentation_article_review-base-edit select, form#presentation_online_resource-base-edit select, form#presentation_monograph-base-edit select, form#presentation_collection-base-edit select, form#presentation_monograph-base-edit select {
    width:840px;
}

form#review_monograph-base-edit select#subject, form#review_journal-base-edit select#subject, form#presentation_article_review-base-edit select#subject, form#presentation_online_resource-base-edit select#subject, form#presentation_monograph-base-edit select#subject, form#presentation_collection-base-edit select#subject, form#presentation_monograph-base-edit select#subject {
    width: 330px !important;
}

#column3 .portlet li {
    display:list-item;
}

body.template-newsletter-view button {
    margin: 0px 3px 0px 0px;
}

.plonepopup .mceMiddle {
height:100% !important;
width:100% !important;
}

#upload_panel {
    width: 216px !important;
}

/*body.template-atct_edit #uploadfile {
   float:left !important; 
}*/

/* Use these classes to set the width of a column. */
.span-1  { width: 30px; }
.span-2  { width: 70px; }
.span-3  { width: 110px; }
.span-4  { width: 150px; }
.span-5  { width: 190px; }
.span-6  { width: 230px; }
.span-7  { width: 270px; }
.span-8  { width: 310px; }
.span-9  { width: 350px; }
.span-10 { width: 390px; }
.span-11 { width: 430px; }
.span-12 { width: 470px; }
.span-13 { width: 510px; }
.span-14 { width: 550px; }
.span-15 { width: 590px; }
.span-16 { width: 630px; }
.span-17 { width: 670px; }
.span-18 { width: 710px; }
.span-19 { width: 750px; }
.span-20 { width: 790px; }
.span-21 { width: 830px; }
.span-22 { width: 870px; }
.span-23 { width: 910px; }
.span-24, div.span-24 {
        margin: 0;
        width: 950px;
}

#missing-required-fields {
color:red;
font-weight:bold;
margin:0 0 0.5em 0.5em;
}
#edit-bar, #content ul.formTabs {
padding-left:0 !important;
}

/***********div für twitter*********/
#twitter-it {
margin:0 0 1.3em;
}
/*************margin and padding fix for #publicationlisting ul***********/
#publicationlisting ul {
    padding-left:40px;
    margin:11px 0 11px 0;
}