/* gerken: styles for the newsletter input fields */
body.template-newsletter-settings textarea {
    width: 570px;
    height: 150px;
}

.mceContentBody {
font-family:Verdana,Arial,Helvetica !important;
font-size:11px !important;
}